<html>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Numquam atque quae et facere laboriosam aperiam soluta accusantium labore?
     Sint sit earum illum quia nam aut? Natus eaque porro libero laudantium rem ab assumenda? Nihil,
      laudantium quibusdam dignissimos dolores aut modi nesciunt veniam, 
      incidunt voluptates vero cupiditate architecto optio possimus nam maxime
       inventore praesentium qui consequatur labore illum? Error rem officia neque
        cupiditate. Reiciendis cupiditate quia voluptates aliquid eius illum inventore blanditiis sit 
        dolore exercitationem consequuntur corporis dolores a cum, doloremque, ducimus odio facere 
        consequatur? Ea dicta neque nihil rem sequi velit, itaque, nostrum obcaecati laborum magni, 
        quae quisquam quibusdam eos.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Numquam atque quae et facere laboriosam aperiam soluta accusantium labore?
             Sint sit earum illum quia nam aut? Natus eaque porro libero laudantium rem ab assumenda? Nihil,
              laudantium quibusdam dignissimos dolores aut modi nesciunt veniam, 
              incidunt voluptates vero cupiditate architecto optio possimus nam maxime
               inventore praesentium qui consequatur labore illum? Error rem officia neque
                cupiditate. Reiciendis cupiditate quia voluptates aliquid eius illum inventore blanditiis sit 
                dolore exercitationem consequuntur corporis dolores a cum, doloremque, ducimus odio facere 
                consequatur? Ea dicta neque nihil rem sequi velit, itaque, nostrum obcaecati laborum magni, 
                quae quisquam quibusdam eos.</p>

</html>
Post::create([
'title' => 'Judul Kedua',
'slug' => 'judul-kedua-tambah',
'excerpt' => 'judul kedua akan di dieksekusi dengan halaman yang pasti',
'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sed tempora ab dignissimos, vel tempore.</p> ',            
])


Category::create([
 'nama_kategori' => 'Web Design Baru',
 'slug' => 'web-design-baru'
])